.CgHjuvWgtzG {
    color: #F33623;
    font-size: 13px;
    display: block;
    background: #000;
  }
  
  .CsQZVMk8fSz {
    color: #7BE51C;
    font-size: 29px;
    display: block;
    background: #000;
  }
  
  .C21YNweH1wT {
    color: #AA4CF8;
    font-size: 29px;
    display: block;
    background: #000;
  }
  
  .Ck2tLMgzTOJ {
    color: #A894E1;
    font-size: 26px;
    display: block;
    background: #000;
  }
  
  .Czc0XmH6Tpp {
    color: #8280D0;
    font-size: 19px;
    display: block;
    background: #000;
  }
  
  .CSgN5R2EOqS {
    color: #6C05F6;
    font-size: 22px;
    display: block;
    background: #000;
  }
  
  .C3u7gpFLrcl {
    color: #A73952;
    font-size: 21px;
    display: block;
    background: #000;
  }
  
  .C3H1jIfwe3K {
    color: #A7B24E;
    font-size: 19px;
    display: block;
    background: #000;
  }
  
  .CEttXT9wjw0 {
    color: #7B8168;
    font-size: 11px;
    display: block;
    background: #000;
  }
  
  .CqhDpLMMgc5 {
    color: #F19C0E;
    font-size: 14px;
    display: block;
    background: #000;
  }
  
  .CYlbmsAfQkK {
    color: #DE8A8B;
    font-size: 28px;
    display: block;
    background: #000;
  }
  
  .CVn7831SbRR {
    color: #9057CE;
    font-size: 16px;
    display: block;
    background: #000;
  }
  
  .Cb3Kc7OOx8i {
    color: #CA104C;
    font-size: 10px;
    display: block;
    background: #000;
  }
  
  .CSCqGwpFMsg {
    color: #A2E22E;
    font-size: 26px;
    display: block;
    background: #000;
  }
  
  .Cbx7Sqv698P {
    color: #D4AB98;
    font-size: 27px;
    display: block;
    background: #000;
  }
  
  .Cmj79bCbTbq {
    color: #B3DB87;
    font-size: 22px;
    display: block;
    background: #000;
  }
  
  .Ckg1m9QuOn4 {
    color: #6B1116;
    font-size: 15px;
    display: block;
    background: #000;
  }
  
  .CEZylMpaPkh {
    color: #155F92;
    font-size: 10px;
    display: block;
    background: #000;
  }
  
  .CQdUi6B3ike {
    color: #CAB9FE;
    font-size: 15px;
    display: block;
    background: #000;
  }
  
  .ChQU5LE2DxT {
    color: #7420B7;
    font-size: 23px;
    display: block;
    background: #000;
  }
  
  